<?xml version="1.0"?>
<launch>
	<!-- Include the MAVROS node with SITL and Gazebo -->
	<include file="$(find px4)/launch/mavros_posix_sitl.launch">
	<!--include file="PX4-Autopilot_test/launch/mavros_posix_sitl.launch"-->
	</include>

	<!-- Our node to control the drone -->
	<node pkg="offboard_py" type="test.py" name="test" required="true" output="screen"/>
</launch>

